<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <title>
        Product Hunt
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css' %}">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" class="d-inline-block alighn-top" height="30"
                                         width="30"/>Product Hunt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="list-inline-item" style="text-decoration:underline; padding-left: 10px;">
                        <small><i class="fa fa-user"></i>
                            Welcome {{ user.username }}!
                            <a href="javascript:{document.getElementById('logout').submit()}"> logout</a>
                        </small>
                        <form id="logout" method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden"/>
                        </form>
                        <a href="{% url 'create' %}"><small><span class="oi oi-plus"/> Create</small></a>
                        {% else %}
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}

{% endblock %}

</body>
<footer class="text-muted">
    <div class="container text-center">
        <p>
            Copyright 2019
        </p>
    </div>
</footer>
</html>
